<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/assets/css">
    <include path="~/assets/vendor/bootstrap/bootstrap.min.css" />
    <include path="~/assets/vendor/icon-awesome/css/font-awesome.min.css" />
    <include path="~/assets/vendor/icon-line-pro/style.css" />

    <include path="~/assets/vendor/icon-hs/style.css" />
    <include path="~/assets/vendor/dzsparallaxer/dzsparallaxer.css" />

    <include path="~/assets/vendor/dzsparallaxer/dzsscroller/scroller.css" />
    <include path="~/assets/vendor/dzsparallaxer/advancedscroller/plugin.css" />
    <include path="~/assets/vendor/animate.css" />
    <include path="~/assets/vendor/hs-megamenu/src/hs.megamenu.css" />
    <include path="~/assets/vendor/hamburgers/hamburgers.min.css" />
    <include path="~/assets/vendor/fancybox/jquery.fancybox.css" />
    <include path="~/assets/vendor/slick-carousel/slick/slick.css" />
    <include path="~/assets/css/styles.multipage-marketing.css" />
    <include path="~/assets/css/custom.css" />
  </styleBundle>
</bundles>